@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h3 class="col-md-4"  style="margin:auto;">Sign in to Neurval's Newspaper</h3>
<div class="row">
    <div class="col-md-4" id="logindiv">
        <section>
            <form id="account" method="post">
              
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div >
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div >
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="textorange">Forgot your password?</a>
                    </p>
                    <p>
                        <h6 class="centertext" style="color:grey">have no account?</h6>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="centertext" style="color:white"><b>Sign up</b></a>
                    </p>

                </div>
            </form>
        </section>
    </div>
 
           
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
