@model Newspaper_CMS.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
         @Html.DisplayNameFor(model => model.Category_Name)
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Category_Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
