@model IEnumerable<Newspaper_CMS.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>  @Html.DisplayNameFor(model => model.Category_Name)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                        @Html.DisplayFor(modelItem => item.Category_Name)
             </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Category_Name" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Category_Name class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
