
@{
    ViewData["Title"] = "AdminHomePage";
}

<h1>AdminHomePage</h1>

 <a asp-controller="Articles" asp-action="Index"  class="btn btn-primary">Articles</a> <br/>


<a asp-controller="Categories" asp-action="Index"  class="btn btn-primary">Categories</a> 